/* Grid height 11px width 48px */

/* TO DO ITEMS */
/* Vyriesit p.excerp aby sa dal nastylovat */

/* BASIC LAYOUT */

#wrapper {}

#background {
	position:fixed;
	top: 60px; left:0; bottom:0; right:0;
	width:100%; height:100%;
	z-index:-1;
	overflow:hidden;
}

#map_canvas {
	width: 100%; height: 100%;
}

#header {
	position: fixed;
	top:0;left:0;right:0;
	width:100%;
	height:60px;
	z-index:800;
	margin: 0;
	padding: 0;
	}
#masthead {
	width:auto;
	display:inline;
}

#branding {
	position:absolute;
	padding:11px 0px 11px 0px;
	display:inline;
}

#blog-title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800; 
	font-size: 28px;
	line-height: 33px; 
	letter-spacing:-0.03em;
	z-index:810;
	padding:0 24px 0 48px;
	margin: 0;
	width:auto;
	display:inline;
	border-right: 1px solid #E7DED1;
} 

#blog-description{
	font-family: 'Georgia',serif;
	font-size: 20px;
	line-height: 33px;
	font-style: italic;
	font-weight: normal;
	letter-spacing:0.005em;
	padding: 0 24px;
	margin: 0;
	width:auto;
	display:inline;
}

#access{position:static;top:0;}
#main {position:absolute;left:0;right:0;}
#container {}
#content {}
.post,.type-page {
	float: left;
	position: fixed;
	top: 159px;
	right: 0;
	width: 482px;
	max-height: 45%;
	padding: 44px 0 22px;
	overflow: hidden;
	background: none repeat scroll 0 0 #E7DED1;
	z-index: 900;
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
}

.entry-title {
}

.entry-content {
	padding: 0 48px;
}

.entry-meta {
	height: 120px;
	display: none;
}

.author {}

.entry-date {
	width:181px;height:120px;
}

.entry-date:hover, .entry-date:active {
	opacity:0.0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}

.entry-utility {}
.vcard {}
	
/* WIDGETS LAYOUT */
.widget-area {
	
}

#primary {
	float: right;
	left: 300px; right:0;
	min-height: 100px;
	position: fixed;
	top: 0;
	z-index: 990;
	list-style-type: none;
}
.xoxo {
	float: right;
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 15px;
	margin-top: 0;the_excerpt
}
.widget-container {display: inline;float:left;width:200px;margin:0 15px;list-style-type: none;}
.widget-container ul{list-style-type: none;display: table-header-group;}
#secondary {list-style-type: none;}

#footer {
	position:absolute;
	visibility: hidden;
}

/*==== LIST OF POSTS =====*/
#more-info {
	float: left;
	position: fixed;
	top: 159px;
	right: 0;
	width: 482px;
	max-height: 45%;
	padding: 44px 0 22px;
	overflow: hidden;
	background: none repeat scroll 0 0 #E7DED1;
	z-index: 900;
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
}

.longdesc { display: none; }

/* WP CALENDAR from Wandrak WP-Theme 01*/
#wp-calendar {
	font-family: 'Andale Mono',monospace;
	height: auto;
	width: 200px;
}
#wp-calendar caption {
    top: 0;
}
#prev {
	float: left;
	left: 0;
	position: absolute;
	top: -23px;
	width: 40px;
}
#next {
    float: left;
    left: 153px;
    position: absolute;
    top: -23px;
	width: 40px;
}
#wp-calendar thead {
    font-weight: bold;
}
#wp-calendar tbody {
    font-weight: bold;
}
#wp-calendar tfoot {
    font-weight: bold;
    position: absolute;
}
#wp-calendar tr {
	padding:0;margin:0;
}
#wp-calendar td {

	    line-height: 20px;
	    padding-bottom: 1px;
	    padding-left: 0;
	    padding-right: 0;
	    padding-top: 1px;
	    text-align: center;
}


#searchform {
    height: 1.1em;
    margin-left: 0.3em;
    width: 14.5em;
}

.tagcloud a {
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.1em;
    padding-bottom: 0.15em;
    padding-left: 0.45em;
    padding-right: 0.45em;
    padding-top: 0.15em;
}

/* COLORS OF APPEARANCE */
body {color:#393730;} /* Color – dark */
#blog-title a,#primary a{color:#F8611C;text-decoration:none;} /*color – light orange*/
#blog-title a:hover{color:#fe401e;}
a {color:#355890;text-decoration:none;}
a:hover{color:#7597b2} /*color – darker orange*/
a:visited{color:#7424037}
#header,#access a,.widget-area,.month-year {color:#e7ded1;} /*main color - light*/
#header,#access a,.month-year,.menu{background-color:#393730;} /*BCG color - dark*/
.post,.type-page{background-color:#e7ded1;} /*BCG color - light*/

a h2.preview {
	color:#393730;
}

/* TYPOGRAPHY */
body {font-family: 'Georgia', serif; font-size:16px;line-height:22px;}
h1 {
	font-family: 'Open Sans',sans-serif;
	font-size: 40px;
	font-weight: 800;
	line-height: 40px;
	margin-left: 0;
	margin-right: 0;
	margin-top: -2px;
}
h2 {
	font-family: 'Open Sans',sans-serif;
	font-size: 23px;
	font-weight: 800;
	line-height: 23px;
	margin-top: -6px;
}

h1.entry-title, h2.preview {
	font-size: 32px;
	font-weight: 800;
	line-height: 33px;
	margin: 0 48px 11px;
	padding: 0 0 22px;
	max-height: 133px;
	overflow: hidden;
	border-bottom: 1px dashed #393730;
}

h2.preview a {
	color: #393730;
}

h2.preview a:hover, h2.preview a:active {
	color: #5A4031;
}

h2.entry-title {
	visibility:hidden;
	position:fixed;
}

h3, .menu li{
	font-family: 'Open Sans',sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 23px;
	word-spacing: 1px;
}

#wp-calendar td,#wp-calendar tfoot,#wp-calendar tbody,#wp-calendar thead,#wp-calendar {
	font-family: 'Andale Mono',monospace;
	font-size: 12px;
}

p {
	font-height: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0 0 11px;
}

p.a {
	color: #000;
}

.excerpt {
	padding: 0 48px;
	font-style: italic !important;
}


/* NAVIGATION | LINKS */

#nav-above{position:fixed;left:-9999px;visibility: hidden;}
/* MENU OF SITES HIDDEN BY DEFAULT */
/* to show menu remove note from hidden elements section in the bottom of css page! 
*.menu{position:static;list-style-type: none;padding:10px 0;}
*.menu ul{list-style-type: none;margin:0 10px;}
*.menu li{
*	display: inline;
*    margin-bottom: 3px;
*    margin-left: 3px;
*    margin-right: 3px;
*    margin-top: 3px;
*    padding-bottom: 4px;
*    padding-left: 4px;
*    padding-right: 4px;
*    padding-top: 4px;
} */

/* HIDDEN ELEMENTS */
.menu,.the_excerpt-title,.skip-link,.screen-reader-text,thead,.widget-title{position:fixed;top:-9999px;visibility:hidden;}

.locations-foto{
	background-color: #393730; 
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */	
}
#bottom_bar_outer1 {
	margin: 0;
	padding:0;
	bottom: 0;
	position: fixed;
	z-index: 100;
	height: 120px;
	width: 100%;
}
#bottom_bar_outer2 {
	margin-left: 61px;
	margin-right: 63px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
#bottom_bar {
	padding:0;
	margin: 0;
	background: repeat scroll 0 0 transparent;
	width: 100%;
}
#bottom_content {
	width: 7950px;
	height: 120px;
}
#bottom_bar_left_area {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 120px;
	width: 61px;
	cursor: pointer;
	z-index: 200;
	background: url('../images/older-posts.jpg');
}
#bottom_bar_right_area {
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 120px;
	width: 61px;
	cursor: pointer;
	z-index: 200;
	background: url('../images/newer-posts.jpg');
}
.bottom_bar_item {
	float: left;
	margin-left: 1px;
	margin-right: 1px;
	cursor: pointer;
}
.bottom_bar_item_inner {
	height: 118px;
	width: 178px;
	background: gray;
}
.post-day {
	font-family: 'Open Sans',sans-serif;
	font-size: 55px; line-height: 55px;
	font-weight: 800;
	text-align: center;
	padding: 22px 0 9px;
	color: #F8611C;
	background-color: #393730;
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
}
.post-month {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: center;
	padding: 6px 0 6px;
	color: #F8611C;
	background-color: #393730;
}

.bottom_bar_item_inner.selected .post-day, .bottom_bar_item_inner.selected .post-month,
.bottom_bar_item_inner:hover .post-day, .bottom_bar_item_inner:hover .post-month
{
	background-color: transparent;
}

.bottom_bar_item:hover, .bottom_bar_item.hover { 
	background-color: #E7DED1; 
}
.bottom_bar_item:hover h3, .bottom_bar_item.hover h3 {
	color:red;
}
.jspVerticalBar, .jspHorizontalBar
{
	display: none;
}


/* EDITOR GUI */

.infoBox {
	width: 500px;
	minHeight: 400px;
	padding: 0px;
	margin: 0px;
}

.poi_info_window {
	background: #E7DED1;
	padding-top: 33px;
	padding-bottom: 0px;
	padding-left: 33px;
	padding-right: 33px;
}

.poi_info_input_container {
	padding: 16px;
	border: 1px #000 solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 8px;
	cursor: text;
}

.mbubble_title, .mbubble_descr {
	font-family: Georgia, Serif;
	font-height: 16px;
	font-syle: italic;
	width: 406px;
	border: none;
	background: #E7DED1;
}

#editorTools {
	left: 220px;
	top: 61px;
	position: fixed;
	display: none;
}

input.add_poi_button {
	color: #F8611C;
	background: none repeat scroll 0 0 #393730;
	border: none;
	padding: 9px 22px;
}

.poi_tool_item {
	cursor: pointer;
}

.poi_infobox_actions {
	margin-bottom: 10px;
}

.poi_infobox_bottom_container {
	height: 55px;
	text-align:center;
	overflow: visible;
}

.poi_infobox_bottom_center {
	margin-left:auto;
	margin-right:auto;
	width: 202px;
}

.poi_infobox_prev {
	background: url('../images/markers/previous.png');
	width: 66px;
	height: 55px;
	float: left;
	cursor: pointer;
}

.poi_infobox_next {
	background: url('../images/markers/next.png');
	width: 66px;
	height: 55px;
	float: left;
	cursor: pointer;
}

.poi_infobox_bottom_space {
	width: 2px;
	height: 66px;
	float: left;
}

.poi_infobox_type_bar {
	width: 66px;
	height: 66px;
	float: left;
	overflow: visible;
	position: relative;
}

.poi_type_select, .poi_type_view {
	width: 66px;
	height: 55px;
	opacity: 0.50;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.poi_type_select.notdisplayed, .poi_type_view.notdisplayed {
	display: none;
}

.poi_type_select:hover {
	opacity: 0.80;
	filter: alpha(opacity=80); /* For IE8 and earlier */
	cursor: pointer;
}

.poi_type_select.active, .poi_type_select.active:hover, .poi_type_view.active {
	opacity:1.00;
	height: 66px;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.poi_type_select.active.selecting, .poi_type_select.active.selecting:hover {
	opacity: 1.00;
	height: 55px;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.poi_type_select.cook, .poi_type_view.cook {
	background: url('../images/markers/cook.png');
}

.poi_type_select.cyclo, .poi_type_view.cyclo {
	background: url('../images/markers/cyclo.png');
}

.poi_type_select.fork-knife, .poi_type_view.fork-knife {
	background: url('../images/markers/fork-knife.png');
}

.poi_type_select.tent, .poi_type_view.tent {
	background: url('../images/markers/tent.png');
}

/* MAP GUI */
#map_tools {
	width: 0px;
	height: 0px;
	overflow: visible;
	font-family: 'Geneva', 'Helvetica' , sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
#mapZoomIn {
	background: url('../images/zoom-in.jpg');
	width: 60px;
	height: 60px;
	position: fixed;
	top: 72px;
	left: 0;
}
#mapZoomOut {
	background: url('../images/zoom-out.jpg');
	width: 60px;
	height: 60px;
	position: fixed;
	top: 133px;
	left: 0;
}
#mapToolsType {
	position: fixed;
	top: 71px;
	right: 0;
	height: 44px;
}
#mapTypeRoadmap, #mapTypeSatelite, #mapTypeTerrain {
	color: #f7611b;
	background: #393730;
	padding: 0 17px;
	margin: 0 0 0 2px;
	height: 44px;
	float: left;
}
#mapTypeRoadmap div, #mapTypeSatelite div, #mapTypeTerrain div {
	padding-top: 12px;
}
#mapTypeRoadmap:hover, #mapTypeSatelite:hover, #mapTypeTerrain:hover {
	color: #393730;
	background: #f7611b;
}
