/* Grid height 11px width 48px */

/* TO DO ITEMS */
/* Vyriesit p.excerp aby sa dal nastylovat */

/* BASIC LAYOUT */

#wrapper {}

#background {
	position:fixed;
	top: 60px; left:0; bottom:0; right:0;
	width:100%; height:100%;
	z-index:-1;
	overflow:hidden;
}

#map_canvas {
	width:100%;height:100%;
}

#header {
	position: fixed;
	top:0;left:0;right:0;
	width:100%;
	height:60px;
	z-index:800;
	margin: 0;
	padding: 0;
	}
#masthead {
	width:auto;
	display:inline;
}

#branding {
	position:absolute;
	padding:11px 0px 11px 0px;
	display:inline;
}

#editorTools {
	left: 250px;
	top: 20px;
	position:absolute;
	padding:11px 0px 11px 0px;
	display:none;
}

#blog-title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800; 
	font-size: 28px;
	line-height: 33px; 
	letter-spacing:-0.03em;
	z-index:810;
	padding:0 24px 0 48px;
	margin: 0;
	width:auto;
	display:inline;
	border-right: 1px solid #E7DED1;
} 

h1#blog-description{
	font-family: 'Georgia',serif;
	font-size: 20px;
	line-height: 33px;
	font-style: italic;
	font-weight: normal;
	letter-spacing:0.005em;
	padding: 0 24px;
	margin: 0;
	width:auto;
	display:inline;
}

#access{position:static;top:0;}
#main {position:absolute;left:0;right:0;}
#container {}
#content {}
.post,.type-page {
	padding-bottom: 17.5px;
	padding-left: 33px;
	padding-right: 30px;
	padding-top: 33px;
}

.entry-title {
	margin-bottom: 20px;
	font-size: 16px;
}

.entry-meta {
	height: 120px;
	display: none;
}

.author {}

.entry-date {
	width:181px;height:120px;
}

.entry-date:hover, .entry-date:active {
	opacity:0.0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}

.entry-utility {}
.vcard {}
	
.post-day{
	font-family: 'Open Sans',sans-serif;
	font-size: 55px; line-height: 55px;
	font-weight: 800;
	text-align: center;
	padding: 22px 0 9px;
	color: #F8611C;
	background-color: #393730;
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
}

.post-month {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: center;
	padding: 6px 0 6px;
	color: #F8611C;
	background-color: #393730;
}

	
/* WIDGETS LAYOUT */
.widget-area {
	
}

#primary {
	float: right;
	left: 300px; right:0;
	min-height: 100px;
	position: fixed;
	top: 0;
	z-index: 990;
	list-style-type: none;
}
.xoxo {
	float: right;
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 15px;
	margin-top: 0;the_excerpt
}
.widget-container {display: inline;float:left;width:200px;margin:0 15px;list-style-type: none;}
.widget-container ul{list-style-type: none;display: table-header-group;}
#secondary {list-style-type: none;}

#footer {
	position:absolute;
	visibility: hidden;
}

/*==== List of Posts =====*/
#locations_left_area {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 120px;
	width: 20px;
	cursor: pointer;
	z-index: 200;
}
#locations_right_area {
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 120px;
	width: 20px;
	cursor: pointer;
	z-index: 200;
}
#more-info {
	float: left;
	position: fixed;
	top: 242px;
	left: 0;
	width: 576px;
	max-height: 45%;
	padding: 44px 0 22px;
	overflow: hidden;
	background: none repeat scroll 0 0 #E7DED1;
	z-index: 900;
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
}

.longdesc { display: none; }

/* WP CALENDAR from Wandrak WP-Theme 01*/
#wp-calendar {
	font-family: 'Andale Mono',monospace;
	height: auto;
	width: 200px;
}
#wp-calendar caption {
    top: 0;
}
#prev {
	float: left;
	left: 0;
	position: absolute;
	top: -23px;
	width: 40px;
}
#next {
    float: left;
    left: 153px;
    position: absolute;
    top: -23px;
	width: 40px;
}
#wp-calendar thead {
    font-weight: bold;
}
#wp-calendar tbody {
    font-weight: bold;
}
#wp-calendar tfoot {
    font-weight: bold;
    position: absolute;
}
#wp-calendar tr {
	padding:0;margin:0;
}
#wp-calendar td {

	    line-height: 20px;
	    padding-bottom: 1px;
	    padding-left: 0;
	    padding-right: 0;
	    padding-top: 1px;
	    text-align: center;
}


#searchform {
    height: 1.1em;
    margin-left: 0.3em;
    width: 14.5em;
}

.tagcloud a {
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.1em;
    padding-bottom: 0.15em;
    padding-left: 0.45em;
    padding-right: 0.45em;
    padding-top: 0.15em;
}

/* COLORS OF APPEARANCE */
body {color:#393730;} /* Color – dark */
#blog-title a,#primary a{color:#F8611C;text-decoration:none;} /*color – light orange*/
#blog-title a:hover{color:#fe401e;}
a {color:#355890;text-decoration:none;}
a:hover{color:#7597b2} /*color – darker orange*/
a:visited{color:#7424037}
#header,#access a,.widget-area,.month-year {color:#e7ded1;} /*main color - light*/
#header,#access a,.month-year,.menu{background-color:#393730;} /*BCG color - dark*/
.post,.type-page{background-color:#e7ded1;} /*BCG color - light*/

a h2.preview {
	color:#393730;
}

/* TYPOGRAPHY */
body {font-family: 'Georgia', serif; font-size:16px;line-height:22px;}
h1 {
	font-family: 'Open Sans',sans-serif;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -1.3px;
	line-height: 40px;
	margin-left: 0;
	margin-right: 0;
	margin-top: -2px;
	word-spacing: -2px;
}
h2 {
	font-family: 'Open Sans',sans-serif;
	font-size: 23px;
	font-weight: 800;
	line-height: 23px;
	margin-top: -6px;
	word-spacing: -2px;
}

h2.preview {
	font-size: 32px;
	font-weight: 800;
	line-height: 33px;
	margin: 0 48px 11px;
	padding: 0 0 22px;
	max-height: 133px;
	overflow: hidden;
	border-bottom: 1px dashed #393730;
}

h2.preview a {
	color: #393730;
}

h2.preview a:hover, h2.preview a:active {
	color: #5A4031;
}

h2.entry-title {
	visibility:hidden;
	position:fixed;
}

h3, .menu li{
	font-family: 'Open Sans',sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 23px;
	word-spacing: 1px;
}

#wp-calendar td,#wp-calendar tfoot,#wp-calendar tbody,#wp-calendar thead,#wp-calendar {
	font-family: 'Andale Mono',monospace;
	font-size: 12px;
}

p {
	font-height: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0 0 11px;
}

p.a {
	color: #000;
}

.excerpt{
	padding: 0 48px;
	font-style: italic !important;
}


/* NAVIGATION | LINKS */

#nav-above{position:fixed;left:-9999px;visibility: hidden;}
/* MENU OF SITES HIDDEN BY DEFAULT */
/* to show menu remove note from hidden elements section in the bottom of css page! 
*.menu{position:static;list-style-type: none;padding:10px 0;}
*.menu ul{list-style-type: none;margin:0 10px;}
*.menu li{
*	display: inline;
*    margin-bottom: 3px;
*    margin-left: 3px;
*    margin-right: 3px;
*    margin-top: 3px;
*    padding-bottom: 4px;
*    padding-left: 4px;
*    padding-right: 4px;
*    padding-top: 4px;
} */

/* HIDDEN ELEMENTS */
.menu,.the_excerpt-title,.skip-link,.screen-reader-text,thead,.widget-title{position:fixed;top:-9999px;visibility:hidden;}

.locations-foto{
	background-color: #393730; 
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */	
}		
#bottom_bar {
	margin:0;padding:0;
	background: url("images/item-background.png") repeat scroll 0 0 transparent;
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	height: 120px;
	overflow: hidden;
}
#bottom_content {
	width: 7950px;
	height: 120px;
}
#bottom_bar_left_area {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 120px;
	width: 20px;
	cursor: pointer;
	z-index: 200;
}
#bottom_bar_right_area {
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 120px;
	width: 20px;
	cursor: pointer;
	z-index: 200;
}
.bottom_bar_item {
	height: 120px;
	width: 180px;
	background: gray transparent;
	float: left;
}
.bottom_bar_item:hover, .bottom_bar_item.hover { 
	background-color: #E7DED1; 
}
.bottom_bar_item:hover h3, .bottom_bar_item.hover h3 {
	color:red;
}
.jspVerticalBar, .jspHorizontalBar
{
	display: none;
}
